:root {
    --main-bg-color: rgb(64, 110, 177);
  }

body {
    background-color: #ffffffe5;
    margin: 0;
}

.bg-light {
    background-color: var(--main-bg-color) !important;
    opacity: 0.7;
    justify-content: space-around;
}

.bg-light .navbar-brand {
    color: rgb(196, 196, 196);
}

#home {
    position: relative;
    background-image: url(./images/Yle_Vanha_joukkuekuva_Jussi_Ekroth.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1;
}

/* #overlay {
    background-color: #72333e;
    opacity: 0.6;
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} */

#home h1 {
    color: rgb(196, 196, 196);
    font-size: 27px;
    z-index: 0;
    top: 70vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--main-bg-color);
    width: 100%;
    padding: 20px 20px;
    /* border: white solid 2px; */
}

#home p {
    color: white;
    position: absolute;
    top: 45vh;
    left: 5vh;
    width: 60%;
}

#citation-marks {
    font-weight: 500;
    font-family: 'Catamaran', sans-serif;
}

#reference {
    font-size: x-small;
}